.tag {
  border-radius: 2px;
  padding: 6px 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &Label {
    color: $white-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    display: inline-flex;
  }

  &Primary {
    background-color: $red-color;
  }

  &Secondary {
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 6px 12px;

    @include desktop {
      padding: 8px 14px;
    }

    span {
      @include desktop {
        font-size: 18px;
      }
    }
  }
}
