.cardRating {
  &Wrapper {
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 200px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    @include laptop {
      padding: 14px;
      gap: 4px;
    }

    @include mobile {
      padding: 12px;
      gap: 2px;
    }
  }

  &Label {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: $white-color;

    @include laptop {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}
