$white-color: #fff;
$red-color: #e50000;
$label-color: #999999;
$background-color: #141414;
$background-color-episodes: #1a1a1a;
$background-color-shared: #0f0f0f;
$border-color: #262626;
$border-table-color: #363636;
