.notFound {
  color: $white-color;
  font-size: 40px;
  font-weight: 600;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex: 1;
}
